{# Beyond Foundation, Encouragement #}

{% extends "_layout" %}

{% set encouragement = craft.entries().section('encouragement').one() %}

{% block content %}

	<header>
		{% include 'includes/header' %}
	</header>

	<nav id="nav-overlay"> {# triggered by hamburger #}
		{% include 'includes/nav' %}
	</nav>

	<main>

		<h2>{{ encouragement.pageHeading }}</h2>

		<section class="single-col">

			<h3 class="encouragement-subtitle">{{ entry.leadTitle }}</h3>

			{{ entry.visibleText }}

		</section>

	</main>

	<footer>
		{% include 'includes/footer' %}
	</footer>

	<script>
		console.log('I & I is at {{ slug }}' );
		console.log('This entry title is {{ entry.title }}' );
	</script>

{% endblock %}
