{# Beyond Foundation, Encouragement #}

{% extends "_layout" %}

{% set entry = craft.entries().section('encouragement').one() %}
{% set encouragements = craft.entries().section('encouragementEntries').all() %}

{% block content %}

    <header>
      {% include 'includes/header' %}
    </header>

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <main>

      <h2>{{ entry.pageHeading }}</h2>

      <section class="single-col">
        <h3 class="encouragement-subtitle">{{ entry.leadTitle }}</h3>
        {{ entry.lead }}
      </section>

      {% for encouragement in encouragements %}
        <h2>{{ encouragement.title }}</h2>
        <section class="single-col">
          <h3 class="encouragement-subtitle">{{ encouragement.leadTitle }}</h3>
          {{ encouragement.visibleText }}

          {% if loop.index == 1 %}
            <p class="other-button apply"><img src="/assets/_pic/arrow.svg" style="margin-right: 5px; "><a href="mailto:info@beyond-foundation.org">{{ 'Gesuch einreichen'|t }}</a></p>
          {% else %}
            <p class="other-button donation"><img src="/assets/_pic/arrow.svg" style="margin-right: 5px; "><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LB9YDKHPUJLPS&source=url">{{ 'Spenden'|t }}</a></p>
          {% endif %}

        </section>
      {% endfor %}

      <blockquote>
        <p>{{ craft.app.language == 'de' ? '«' : '“' }}{{ entry.quote }}{{ craft.app.language == 'de' ? '»' : '”' }}</p>
      </blockquote>
    </main>
        
    <footer>
      {% include 'includes/footer' %}
    </footer>

{#{% include 'includes/accordion-scripts' %} #}

    <script>
      console.log('I & I is at {{ slug }}' );
      console.log('This entry title is {{ entry.title }}' );
    </script>

{% endblock %}
