{# Beyond Foundation, Story Single Entry #}

{% extends "_layout" %}

{# hier korrkete entry query einsetzen #}

{% block content %}

    <header>
      {% include 'includes/header' %}
    </header>

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <main>
	<h2>News</h2>

	<section class="news-item single-col">
	{# News-Item {{{ #}

{#
	{% if entry.newsMedia|length %}
		{% if entry.newsMedia[0].kind == 'video' %}
			{% set video = entry.newsMedia[0]  %}
			<video src="{{ alias('@assetBasePath') }}/{{ video.getUrl() }}" controls>
				{% if craft.app.language == 'en' %}
					<p>We are sorry, but it seems that your browser can’t play embedded videos. How about a visit to the <a href="https://www.youtube.com/user/beyondsingingcom" target="_blank">beyond singing youtube channel</a>.</p>
				{% else %}
					<p>Ihr Browser scheint eingebettete Videos nicht abspielen zu können. Besuchen Sie doch den <a href="https://www.youtube.com/user/beyondsingingcom" target="_blank">Beyond Singing Youtube-Kanal</a>.</p>
				{% endif %}
			</video>
		{% else %}
			{% set image = entry.newsMedia[0]  %}
			<img src="{{ alias('@assetBasePath') }}/{{ image.getUrl('square') }}" alt="{{ entry.title }}">
		{% endif %}
	{% endif %}
#}

	{# 2. Mai 2019: ab hier neu. Gewünscht werden Youtube-Embeds anstatt Video-Uploads #}
	{% if entry.video|length %}
		{% set video = entry.video %}
		<div class="video-container">
			{{  video.getEmbed() }}
		</div>
	{% elseif entry.newsImg|length %}
		<img src="{{ alias('@assetBasePath') }}/{{ entry.newsImg[0].getUrl('square') }}" alt="{{ entry.title }}">
	{% else %}
		<!-- no image for this news item -->
	{% endif %}
	{# bis hier neu #}

	<h3>{{ entry.title }}</h3>
	{% if entry.newsText|length %}
		{{ entry.newsText }}
	{% endif %}

	</section>
	{# End News-Item }}} #}

	</main>

	<footer>
		{% include 'includes/footer' %}
	</footer>

	<script>
		console.log('I & I is at {{ slug }}' );
	</script>

{% endblock %}
