{# Beyond Foundation, Story #}

{% extends "_layout" %}

{% set entry = craft.entries().section('about').one() %}
{% set news= craft.entries().section('news').all() %}

{% block content %}

    <header>
      {% include 'includes/header' %}
    </header>

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <main>
      <h2>{{ entry.pageHeading }}</h2>

      {% if entry.visibleText|length and entry.collapsedText|length %}
	<!-- Intro Text -->
      <section class="single-col">
        <h3>Beyond Foundation</h3>

        <div class="accordion" style="margin-top: 0;">
          <div class="visible">
            {{ entry.visibleText }}
            <p class="accordion-trigger"><span>{{ 'Weitere Informationen'|t }}</span></p>
          </div>
          <div class="collapsed">
            {{ entry.collapsedText }}
            <p class="accordion-collapse"><span>{{ 'Weniger Informationen'|t }}</span></p>
          </div>
        </div>
      </section>
	<!-- End Intro Text -->
      {% endif %}

{# Hero Video / Image {{{ #}
      <section class="single-col">
	{% if entry.video|length %}
		{% set video = entry.video %}
		<div class="video-container">
			{{  video.getEmbed() }}
		</div>
	{% elseif entry.heroImage|length %}
		<img class="full-width" src="{{ alias('@assetBasePath') }}/{{ entry.heroImage[0].getUrl('sixteen2nine') }}" alt="{{ entry.title }}, hero image">
	{% else %}
		<img class="full-width" src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="{{ entry.title }}, hero image">
	{% endif %}

	{% if entry.videoImageDescription|length %}
        <div class="video-caption full-width">{{ entry.videoImageDescription }}</div>
	{% endif %}
      </section>
	<!-- Hero Video / Image -->
{# End Hero Video / Image }}} #}

      <h2>News</h2>

      {% for newsItem in news %}

	      {# Quote {{{ #}
	{% if loop.index == 3 %}
		{% if entry.quote|length %}
			<blockquote>
				<p>{{ craft.app.language == 'de' ? '«' : '“' }}{{ entry.quote }}{{ craft.app.language == 'de' ? '»' : '”' }}</p>
			</blockquote>
		{% endif %}
	{% endif %}
	      {# End Quote }}} #}

	{# News-Item {{{ #}
	<section class="news-item single-col">

	{# 2. Mai 2019: ab hier neu. Gewünscht werden Youtube-Embeds anstatt Video-Uploads #}
	{% if newsItem.video|length %}
		{% set video = newsItem.video %}
		<div class="video-container">
			{{  video.getEmbed() }}
		</div>
	{% elseif newsItem.newsImg|length %}
		<img src="{{ alias('@assetBasePath') }}/{{ newsItem.newsImg[0].getUrl('square') }}" alt="{{ newsItem.title }}">
	{% else %}
		<!-- no image for this news item -->
	{% endif %}
	{# bis hier neu #}

	<h3>{{ newsItem.title }}</h3>

	{% if newsItem.newsText|length %}
		{{ newsItem.newsText }}
	{% endif %}

	</section>
	{# End News-Item }}} #}

      {% endfor %}

    </main>
        
    <footer>
      {% include 'includes/footer' %}
    </footer>
    
    {% include 'includes/accordion-scripts' %}

    <script>
      console.log('I & I is at {{ slug }}' );
    </script>

{% endblock %}
