{# Beyond Foundation, Events #}

{% extends "_layout" %}

{% set entry = craft.entries().section('projects').one() %}
{% set projects = craft.entries().section('projectsTeaser').all() %}

{% block content %}

    <header>
      {% include 'includes/header' %}
    </header>

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <main>
      <h2>{{ entry.pageHeading }}</h2>

      <section class="single-col">
	      {% if entry.leadTitle|length %}
	      <h3>{{ entry.leadTitle }}</h3>
	      {% endif %}
	      {% if entry.lead|length %}
	      <p>{{ entry.lead }}</p>
	      {% endif %}
      </section>


      {% for project in projects %}
          
          {% if loop.index == 3 %}
            {% if entry.quote|length %}
            <blockquote>
              <p>{{ craft.app.language == 'de' ? '«' : '“' }}{{ entry.quote }}{{ craft.app.language == 'de' ? '»' : '”' }}</p>
            </blockquote>
            {% endif %}
          {% endif %}

        <section class="alternating-grid-image-large">
  
	<div class="image-cell">
	{% if project.video|length %}
		{% set video = project.video %}
		<div class="video-container">
		{{ video.getEmbed() }}
		</div>
	{% else %} {# there’s no video #}
		{# ev. sollte das hier ein «HeroImage» sein, wie in anderen Einträgen, wo es entw. Video oder Bild gibt?  #}
		{% if project.teaserImage|length %}
			<img src="{{ alias('@assetBasePath') }}/{{ project.teaserImage[0].getUrl('sixteen2nine') }}" alt="{{ project.title }}">
		{% else %}
			<img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="{{ project.title }}, test image">
		{% endif %}
	{% endif %}
	</div>

          <h3 class="text-column">{{ project.title }}</h3>
          <p class="text-column">{{ project.shortDescription }}</p>
          {% if project.externalLink|length %}
            {% set niceUrl = project.externalLink|split('/') %}
          <p class="text-column teaser-link external-link"><a href="{{ project.externalLink }}" target="_new" title="{{ niceUrl[2] }}">{{ niceUrl[2] }}</a></p>
          {% endif %}

        </section>
      {% endfor %}

    </main>
        
    <footer>
      {% include 'includes/footer' %}
    </footer>

    <script>
      console.log('I & I is at {{ slug }}' );
    </script>

{% endblock %}
