{# Beyond Foundation, Story #}

{% extends "_layout" %}

{% set entry = craft.entries().section('team').one() %}
{% set members = craft.entries().section('teamEntries').all() %}

{% block content %}

    <header>
      {% include 'includes/header' %}
    </header>

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <main>
      <h2>{{ entry.pageHeading }}</h2>

      {% for member in members %}
      <section class="alternating-image-grid">
        {% if member.portrait|length %}
          <img src="{{ member.portrait[0].getUrl() }}" alt="{{ member.title }}">
        {% else %}
          <img src="/assets/_pic/placeholder.png" alt="No image for this entry.">
        {% endif %}

        <div class="accordion"> <!-- start accordion -->

          <div class="visible">
            <h3>{{ member.title }}</h3>

            {% if member.quote|length %}
            <p class="team-quote">{{ member.quote }}</p>
            {% endif %}

            {{ member.visibleText }}
          </div>

          <div class="collapsed">
            {{ member.collapsedText }}
          </div>

        </div> <!-- end accordion -->

      </section>
      {% endfor %}

    </main>
        
    <footer>
      {% include 'includes/footer' %}
    </footer>

    <script>
      console.log('I & I is at {{ slug }}' );
    </script>

{% endblock %}
