{# Beyond Foundation, Music Production Single Entry #}

{% extends "_layout" %}

{% block content %}

  <header>
    {% include 'includes/header' %}
  </header>

	<nav id="nav-overlay"> {# triggered by hamburger #}
		{% include 'includes/nav' %}
	</nav>
      
	<main>

		<h2>{{ entry.title }}</h2>

    {% if entry.heroImage|length %}
		<section class="single-col">
      <img class="full-width" src="{{ alias('@assetBasePath') }}/{{ entry.heroImage[0].getUrl('sixteen2nine') }}" alt="{{ entry.title }}, hero image">
      <p class="video-caption full-width">{{ entry.shortDescription }}</p>
		</section>
    {% endif %}

		<section class="single-col">
      <h3>{{ entry.leadTitle }}</h3>
      {{ entry.lead }}

      {% if entry.coverImage|length %}
      <img class="cover-image" src="{{ alias('@assetBasePath') }}/{{ entry.coverImage[0].getUrl() }}" alt="{{ entry.title }}, album cover">
      {% else %}
      <img class="cover-image" src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder.png" alt="There seems to be no image of the album cover for this entry.">
      {% endif %}

      <div id="hear-buy-share" class="order-download">

        <div class="hear">
          <h4>{{ 'Hören'|t }}</h4>
          <div class="itunes">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/third-party-icons/apple.svg" alt="">
            <p>iTunes</p>
          </div>
          <div class="amazon">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/third-party-icons/amazon.svg" alt="">
            <p>Amazon</p>
          </div>
          <div class="googleplay">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/third-party-icons/gplay.svg" alt="">
            <p>Google Play</p>
          </div>
          <div class="spotify">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/third-party-icons/spotify.svg" alt="">
            <p>Spotify</p>
          </div>
          <div class="igroove">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/third-party-icons/igroove.svg" alt="">
            <p>iGroove</p>
          </div>
          <div class="igroove-sms" style="width: 280px; justify-content: center;">
            <p style="font-weight: 300; text-align: left;">Sende eine SMS mit «igroove beyond4» an die Nummer 60660 (DE) oder 9000 (CH).</p>
          </div>
        </div>

        <div class="buy">
          <h4>{{ 'Kaufen'|t }}</h4>
          <div class="amazon">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/third-party-icons/amazon.svg" alt="">
            <p>Amazon</p>
          </div>
          <div class="exlibris">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/third-party-icons/exlibris.svg" alt="">
            <p>ex libris</p>
          </div>
          <div class="cede">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/third-party-icons/cede.svg" alt="">
            <p>cede.ch</p>
          </div>
        </div>

        <div class="share">
          <h4>{{ 'Teilen'|t }}</h4>
          <div class="facebook">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/third-party-icons/facebook.svg" alt="">
            <p>Facebook</p>
          </div>
          <div class="soundcloud">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/third-party-icons/soundcloud.svg" alt="">
            <p>SoundCloud</p>
          </div>

        </div>

      </div>

    </section>

    <!-- Start Artists -->
    {% if entry.artists|length %}

    <h2 id="musicians">Musicians</h2>
    
    <section class="single-col">

      <div class="artist-teaser-grid full-width">

      {% for artist in entry.artists %}
        <div class="artist-teaser">
          {% if artist.portrait|length %}
            <img src="{{ alias('@assetBasePath') }}/{{ artist.portrait[0].getUrl() }}" alt="{{ artist.title }}">
          {% else %}
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/missingPortrait.png"
          {% endif %}

          <h3 class="artist-name">{{ artist.title }}</h3>
          {{ artist.visibleText }}

          {% if artist.artistLink|length %}
            {% set niceUrl = artist.artistLink|split('/') %}
            <p class="artist-link"><a href="{{ artist.artistLink }}" target="_blank">{{ niceUrl[2] }}</a></p>
          {% endif %}
        </div>
      {% endfor %}

      </div>
      
    </section>

    {% endif %}
    <!-- End Artists -->

    <!-- Other Albums -->

    <h2 id="other-albums">Other Albums</h2>

    {# load all entries in this structure except this one #}
    {% set thisAlbum = entry.id %}
    {% set otherAlbums = craft.entries().section('musicProductionEntries').id('not ' ~ thisAlbum ).all() %}

    {% for otherAlbum in otherAlbums %}

      <!-- start row -->
      <section class="alternating-grid-text-large">
        <!-- start image cell -->
        <div class="image-cell">
          <a href="{{ otherAlbum.getUrl() }}" title="{{ otherAlbum.title }}">
          {% if otherAlbum.coverImage|length %}
          <img src="{{ alias('@assetBasePath') }}/{{ otherAlbum.coverImage[0].getUrl() }}" alt="{{ otherAlbum.title }}">
          {% else %}
          <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder.png" alt="No image for this entry.">
          {% endif %}
          </a>
        </div> <!-- end image cell -->

        <!-- start text cell -->
        <div class="text-cell">
          <a href="{{ otherAlbum.getUrl() }}" title="{{ otherAlbum.title }}">
            <h3 class="music-production-title">{{ otherAlbum.title }}</h3>
            {% if otherAlbum.leadTitle|length %}
              <p class="music-production-lead-title">{{ otherAlbum.leadTitle }}</p>
            {% endif %}
            <div class="music-production-lead">
              {{ otherAlbum.lead }}
            </div>
          </a>
          <ul class="music-production-links">
            <li class="other-button"><a href="{{ otherAlbum.getUrl() }}" style="color: white;"><strong>+</strong> Mehr erfahren</a></li>
            <li><a href="{{ otherAlbum.getUrl() }}#hear-buy-share">{{ 'Hören'|t }}</a></li>
            <li><a href="{{ otherAlbum.getUrl() }}#hear-buy-share">{{ 'Kaufen'|t }}</a></li>
            <li><a href="{{ otherAlbum.getUrl() }}#hear-buy-share">{{ 'Teilen'|t }}</a></li>
          </ul>
        </div> <!-- end text cell -->


      </section> <!-- end row -->

    {% endfor %}
    <!-- End Other Albums -->

	</main>
        
  <footer>
    {% include 'includes/footer' %}
  </footer>

  {# accordion.js nur für sprungmarkenreparatur … #}
  <script src="{{ alias('@assetBasePath') }}/assets/js/jquery.min.js"></script>
  <script src="{{ alias('@assetBasePath') }}/assets/js/jquery-ui.min.js"></script>
  <script src="{{ alias('@assetBasePath') }}/assets/js/mendAnchors.js"></script>
  <script>
    console.log('I & I is at {{ slug }}' );
  </script>

{% endblock %}

