{# Beyond Foundation, Music Production Single Entry #}

{% extends "_layout" %}

{% block content %}

  <header>
    {% include 'includes/header' %}
  </header>

	<nav id="nav-overlay"> {# triggered by hamburger #}
		{% include 'includes/nav' %}
	</nav>
      
	<main>

		<h2>{{ entry.title }}</h2>

		<section class="single-col">
    {% if entry.video|length %}
      {% set video = entry.video %}
      <div class="video-container">
      {{  video.getEmbed() }}
      </div>
    {% elseif entry.heroImage|length %}
      <img class="full-width" src="{{ entry.heroImage[0].getUrl('sixteen2nine') }}" alt="{{ entry.title }}, hero image">
    {% else %}
      <img class="full-width" src="/assets/_pic/placeholder_16-9.png" alt="{{ entry.title }}, hero image">
    {% endif %}
      <p class="video-caption full-width">{{ entry.shortDescription }}</p>
		</section>

		<section class="single-col">
      <h3>{{ entry.leadTitle }}</h3>
      {{ entry.lead }}

      {% if entry.coverImage|length %}
      <img class="cover-image" src="{{ entry.coverImage[0].getUrl() }}" alt="{{ entry.title }}, album cover">
      {% else %}
      <img class="cover-image" src="/assets/_pic/placeholder.png" alt="There seems to be no image of the album cover for this entry.">
      {% endif %}

      <div id="hear-buy-share" class="order-download">

        <div class="hear">
          <h4>{{ 'Hören'|t }}</h4>
          {% if entry.itunesLink|length %}
            <a href="{{ entry.itunesLink }}" target="_blank">
              <div class="itunes">
                <img src="/assets/_pic/third-party-icons/apple.svg" alt="">
                <p>iTunes</p>
              </div>
            </a>
          {% endif %}
          {% if entry.amazonLinkHear|length %}
            <a href="{{ entry.amazonLinkHear }}" target="_blank">
              <div class="amazon">
                <img src="/assets/_pic/third-party-icons/amazon.svg" alt="">
                <p>Amazon</p>
              </div>
            </a>
          {% endif %}
          {% if entry.googlePlayLink|length %}
            <a href="{{ entry.googlePlayLink }}" target="_blank">
              <div class="googleplay">
                <img src="/assets/_pic/third-party-icons/gplay.svg" alt="">
                <p>Google Play</p>
              </div>
            </a>
          {% endif %}
          {% if entry.spotifyLink|length %}
            <a href="{{ entry.spotifyLink }}" target="_blank">
              <div class="spotify">
                <img src="/assets/_pic/third-party-icons/spotify.svg" alt="">
                <p>Spotify</p>
              </div>
            </a>
          {% endif %}
          {% if entry.iGrooveLink|length %}
            <a href="{{ entry.iGrooveLink }}" target="_blank">
              <div class="igroove">
                <img src="/assets/_pic/third-party-icons/igroove.svg" alt="">
                <p>iGroove</p>
              </div>
            </a>
          {% endif %}
          {% if entry.iGrooveSmsText|length %}
            <div class="igroove-sms" style="width: 280px; justify-content: center;">
              <p>{{ entry.iGrooveSmsText }}</p>
            </div>
          {% endif %}
        </div>

        <div class="buy">
          <h4>{{ 'Kaufen'|t }}</h4>
          {% if entry.amazonLinkBuy|length %}
            <a href="{{ entry.amazonLinkBuy }}" target="_blank">
              <div class="amazon">
                <img src="/assets/_pic/third-party-icons/amazon.svg" alt="">
                <p>Amazon</p>
              </div>
            </a>
          {% endif %}
          {% if entry.exLibrisLink|length %}
            <a href="{{ entry.exLibrisLink }}" target="_blank">
              <div class="exlibris">
                <img src="/assets/_pic/third-party-icons/exlibris.svg" alt="">
                <p>ex libris</p>
              </div>
            </a>
          {% endif %}
          {% if entry.cedeLink|length %}
            <a href="{{ entry.cedeLink }}" target="_blank">
              <div class="cede">
                <img src="/assets/_pic/third-party-icons/cede.svg" alt="">
                <p>cede.ch</p>
              </div>
            </a>
          {% endif %}
        </div>

        <div class="share">
          <h4>{{ 'Teilen'|t }}</h4>
          {% if entry.facebookLink|length %}
            <a href="{{ entry.facebookLink }}" target="_blank">
              <div class="facebook">
                <img src="/assets/_pic/third-party-icons/facebook.svg" alt="">
                <p>Facebook</p>
              </div>
            </a>
          {% endif %}
          {% if entry.soundcloudLink|length %}
            <a href="{{ entry.soundcloudLink }}" _target="blank">
              <div class="soundcloud">
                <img src="/assets/_pic/third-party-icons/soundcloud.svg" alt="">
                <p>SoundCloud</p>
              </div>
            </a>
          {% endif %}

        </div>

      </div>

    </section>

    {% if entry.videoSlider|length > 0 %} {# check for content #}

    <h2 id="{{ entry.title }}-video-slider" class="video-slider-title">Sing Along</h2>

    <section class="video-slider-section single-col">

    {{ entry.videoSliderLead }}

    {% set videoSliderEntries = entry.videoSlider.all() %}

    <!-- Start Video Slider -->
    <div id="video-slider">
      {% for foo in videoSliderEntries %}

        <div class="carousel-cell">

          {% set videoSliderVideo = foo.videoSliderVideo %}
          <div class="video-embed-receptacle">
            {{  videoSliderVideo.getEmbed() }}
          </div>

          <p class="video-slider-legende">
            <strong>
              {{ foo.videoSliderTitle|length ? foo.videoSliderTitle ~ ' ' : '' }}
            </strong>
            {{ foo.VideoSliderText|length ? foo.VideoSliderText : '' }}
          </p>
        </div> <!-- End Carousel Cell -->
      {% endfor %}

    </div> <!-- End Video Slider -->

    </section>

    {% endif %}

    {# fold this while i work on the video slider {{{ #}
    <!-- Start Artists -->
    {% if entry.artists|length %}

    <h2 id="musicians">Musicians</h2>
    
    <section class="single-col">

      <div class="artist-teaser-grid full-width">

      {% for artist in entry.artists %}
        <div class="artist-teaser">
          {% if artist.portrait|length %}
            <img src="{{ artist.portrait[0].getUrl() }}" alt="{{ artist.title }}">
          {% else %}
            <img src="/assets/_pic/missingPortrait.png"
          {% endif %}

          <h3 class="artist-name">{{ artist.title }}</h3>
          {{ artist.visibleText }}

          {% if artist.artistLink|length %}
            {% set niceUrl = artist.artistLink|split('/') %}
            <p class="artist-link"><a href="{{ artist.artistLink }}" target="_blank">{{ niceUrl[2] }}</a></p>
          {% endif %}
        </div>
      {% endfor %}

      </div>
      
    </section>

    {% endif %}
    <!-- End Artists -->

    <!-- Other Albums -->

    <h2 id="other-albums">Other Albums</h2>

    {# load all entries in this structure except this one #}
    {% set thisAlbum = entry.id %}
    {% set otherAlbums = craft.entries().section('musicProductionEntries').id('not ' ~ thisAlbum ).all() %}

    {% for otherAlbum in otherAlbums %}

      <!-- start row -->
      <section class="alternating-grid-text-large">
        <!-- start image cell -->
        <div class="image-cell">
          <a href="{{ otherAlbum.getUrl() }}" title="{{ otherAlbum.title }}">
          {% if otherAlbum.coverImage|length %}
          <img src="{{ otherAlbum.coverImage[0].getUrl() }}" alt="{{ otherAlbum.title }}">
          {% else %}
          <img src="/assets/_pic/placeholder.png" alt="No image for this entry.">
          {% endif %}
          </a>
        </div> <!-- end image cell -->

        <!-- start text cell -->
        <div class="text-cell">
          <a href="{{ otherAlbum.getUrl() }}" title="{{ otherAlbum.title }}">
            <h3 class="music-production-title">{{ otherAlbum.title }}</h3>
            {% if otherAlbum.leadTitle|length %}
              <p class="music-production-lead-title">{{ otherAlbum.leadTitle }}</p>
            {% endif %}
            <div class="music-production-lead">
              {{ otherAlbum.lead }}
            </div>
          </a>
          <ul class="music-production-links">
            <li class="other-button"><a href="{{ otherAlbum.getUrl() }}" style="color: white;"><strong>+</strong> Mehr erfahren</a></li>
            <li><a href="{{ otherAlbum.getUrl() }}{##hear-buy-share#}">{{ 'Hören'|t }}</a></li>
            <li><a href="{{ otherAlbum.getUrl() }}{##hear-buy-share#}">{{ 'Kaufen'|t }}</a></li>
            <li><a href="{{ otherAlbum.getUrl() }}{##hear-buy-share#}">{{ 'Teilen'|t }}</a></li>
          </ul>
        </div> <!-- end text cell -->


      </section> <!-- end row -->

    {% endfor %}
    <!-- End Other Albums -->

	</main>
        
  <footer>
    {% include 'includes/footer' %}
  </footer>

  {# end temporary fold }}} #}

  {# accordion.js nur für sprungmarkenreparatur … #}
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery-ui.min.js"></script>
  <script src="/assets/js/mendAnchors.js"></script>
  <script src="/assets/js/flickity.js"></script>
  <script src="/assets/js/flickity-fade.js"></script>
  <script>
    console.log('I & I is at {{ slug }}, indeed' );

    // initialize slider aka. «carousel»
  
    window.addEventListener('DOMContentLoaded', (event) => {
      var carousel = document.querySelector('#video-slider');
      var videoSliderFlkty = new Flickity(carousel, {
        // options
        cellAlign: 'center',
        fade: false,
        draggable: false,
        wrapAround: true,
        autoPlay: false,
        prevNextButtons: true,
        pageDots: true,
        adaptiveHeight: true
      });
    });
    
  </script>

{% endblock %}

