{# Beyond Foundation, Music Production Index #}

{% extends "_layout" %}

{% set entry = craft.entries().section('musicProduction').one() %}
{% set productions = craft.entries().section('musicProductionEntries').all() %}

{% block content %}

    <header>
      {% include 'includes/header' %}
    </header>

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <main>

      <h2>{{ entry.pageHeading }}</h2>

      <!-- start row -->
      <section class="single-col">
        <h3>{{ entry.leadTitle }}</h3>
        {{ entry.lead }}
      </section> <!-- end row -->
      
      {% for production in productions %}
      
      {% if loop.index == 3 %}
        {% if entry.quote|length %}
        <blockquote>
          <p>{{ craft.app.language == 'de' ? '«' : '“' }}{{ entry.quote }}{{ craft.app.language == 'de' ? '»' : '”' }}</p>
        </blockquote>
        {% endif %}
      {% endif %}


      <!-- start row-->
      <section class="alternating-grid-text-large">

          <!-- start image cell -->
          <div class="image-cell">
            <a href="{{ production.getUrl() }}" title="{{ production.title }}">
              {% if production.coverImage|length %}
              <img src="{{ alias('@assetBasePath') }}/{{ production.coverImage[0].getUrl() }}" alt="{{ production.title }}">
              {% else %}
              <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder.png" alt="No image for this entry.">
              {% endif %}
            </a>
          </div>
          <!-- end image cell -->

          <!-- start text cell -->
          <div class="text-cell">
              <a href="{{ production.getUrl() }}" title="{{ production.title }}">
                <h3 class="music-production-title">{{ production.title }}</h3>

                {% if production.leadTitle|length %}
                  <p class="music-production-lead-title">{{ production.leadTitle }}</p>
                {% endif %}

                <div class="music-production-lead">
                  {{ production.lead }}
                </div>
              </a>
                
              <ul class="music-production-links">
                <li class="other-button"><a href="{{ production.getUrl() }}" style="color: white;"><strong>+</strong> Mehr erfahren</a></li>
                <li><a href="{{ production.getUrl() }}{# #hear-buy-share" #}>{{ 'Hören'|t }}</a></li>
                <li><a href="{{ production.getUrl() }}{# #hear-buy-share" #}>{{ 'Kaufen'|t }}</a></li>
                <li><a href="{{ production.getUrl() }}{# #hear-buy-share" #}>{{ 'Teilen'|t }}</a></li>
              </ul>
          </div>
          <!-- end text cell -->

      </section> <!-- end row -->
      {% endfor %}

    </main>
        
    <footer>
      {% include 'includes/footer' %}
    </footer>

    <script>
      console.log('I & I is at {{ slug }}' );
    </script>

{% endblock %}
