<div id="language-switch">
  {% if entry|length %}
    {% set supportedSites = entry.getSupportedSites %}

    {% for siteForEntry in entry.getSupportedSites %}
        {# get the site #}
        {% set site = craft.app.getSites.getSiteById(siteForEntry.siteId) %}
        {# check if it's the current site #}
        {% if site.id == entry.siteId %}
          {# don’t show a thing #}
          {# <p>active site = {{ site.id }} {{ site.language }}</p> #}
        {% else %}
          {# if it's not the current site, get the entry for this site #}
          {% set entryForOtherSite = craft.entries.id(entry.id).site(site).one() %}
        <p><a href="{{ entryForOtherSite.getUrl() }}" title="{{ entryForOtherSite.title }}">{{ site.language }}</a></p>
      {% endif %}
  {% endfor %}

  {% else %}
    <p> Entry not set!</p>

  {% endif %}
</div>
