{# Beyond Foundation, Navigation #}

{# wird p überhaupt gebraucht? #}
{% set p = craft.request|first %}

<ul>
	{# TODO: wie muss das aussehen für de/en? #}
	<li class="{{ slug == 'team' ? 'active' : '' }}"><a title="Team" href="/team">Team</a></li>
	<li class="{{ slug == 'music-network' ? 'active' : '' }}"><a title="Music Network" href="/music-network">Music Network</a></li>
	<li class="{{ slug == 'music-production' ? 'active' : '' }}"><a title="Music Production" href="/music-production">Music Production</a></li>
	<li class="{{ slug == 'encouragement' ? 'active' : '' }}"><a title="Encouragement" href="/encouragement">Encouragement</a></li>
	<li class="{{ slug == 'events' ? 'active' : '' }}"><a title="Events" href="/events">Events</a></li>
</ul>

{% include 'includes/language-switcher' %}
