{# Beyond Foundation, Navigation #}

{# wird p überhaupt gebraucht? #}
{#
{% set p = craft.request|first %}
#}

{% if craft.app.language == 'en' %}
  {% set en = true %}
{% else %}
  {% set en = false %}
{% endif %}

<ul>
	{# TODO: wie muss das aussehen für de/en? #}
	<li class="{{ slug == 'about' ? 'active' : '' }}"><a title="About" href="{{ en ? '/en' : '' }}/about">{{ 'Über uns'|t }}</a></li>
	<li class="{{ slug == 'music-network' ? 'active' : '' }}"><a title="Music Network" href="{{ en ? '/en' : '' }}/music-network">{{ 'Musikplattform'|t }}</a></li>
	<li class="{{ slug == 'music-production' ? 'active' : '' }}"><a title="Music Production" href="{{ en ? '/en' : '' }}/music-production">{{ 'Musikproduktionen'|t }}</a></li>
	<li class="{{ slug == 'projects' ? 'active' : '' }}"><a title="Projects" href="{{ en ? '/en' : '' }}/projects">{{ 'Förderprojekte'|t }}</a></li>
	<li class="{{ slug == 'encouragement' ? 'active' : '' }}"><a title="Encouragement" href="{{ en ? '/en' : '' }}/encouragement">{{ 'Gesuche/Spenden'|t }}</a></li>
</ul>

{% include 'includes/language-switcher' %}
'Über uns' => 'About',
  'Team' => 'Team',
  'Musikplattform' => 'Music Network',
  'Förderprojekte' => 'Funding Projects',
  'Gesuche/Spenden' => 'Encouragement',
]
