{# Beyond Foundation, Navigation #}

{# wird p überhaupt gebraucht? #}
{#
{% set p = craft.request|first %}
#}

{% if craft.app.language == 'en' %}
  {% set en = true %}
{% else %}
  {% set en = false %}
{% endif %}

<ul>
	{# TODO: wie muss das aussehen für de/en? #}
	<li class="{{ slug == 'about' ? 'active' : '' }}"><a title="About" href="{{ en ? '/en' : '' }}/about">{{ 'Über uns'|t }}</a></li>
	<li class="{{ slug == 'team' ? 'active' : '' }}"><a title="Team" href="{{ en ? '/en' : '' }}/team">Team</a></li>
	<li class="{{ slug == 'music-network' ? 'active' : '' }}"><a title="Music Network" href="{{ en ? '/en' : '' }}/music-network">{{ 'Musikplattform'|t }}</a></li>
	<li class="{{ slug == 'music-production' ? 'active' : '' }}"><a title="Music Production" href="{{ en ? '/en' : '' }}/music-production">{{ 'Musikproduktionen'|t }}</a></li>
	<li class="{{ slug == 'projects' ? 'active' : '' }}"><a title="Projects" href="{{ en ? '/en' : '' }}/projects">{{ 'Förderprojekte'|t }}</a></li>
	<li class="{{ slug == 'encouragement' ? 'active' : '' }}"><a title="Encouragement" href="{{ en ? '/en' : '' }}/encouragement">{{ 'Gesuche/Spenden'|t }}</a></li>
</ul>

{% include 'includes/language-switcher' %}

<section id="nav-overlay-footer">
  <ul class="share-icons">
    <li><a href="https://www.facebook.com/Beyond/" target="_blank"><img src="{{ alias('@assetBasePath') }}/assets/_pic/footer-icons/fb-icon.svg" alt=""></a></li>
    <li><a href="https://www.instagram.com/beyondmusic/" target="_blank"><img src="{{ alias('@assetBasePath') }}/assets/_pic/footer-icons/insta-icon.svg" alt=""></a></li>
    <li><a href="https://www.youtube.com/user/beyondsingingcom" target="_blank"><img src="{{ alias('@assetBasePath') }}/assets/_pic/footer-icons/yt-icon.svg" alt=""></a></li>
  </ul>

  {% include 'includes/infos' %}

</section>
