{# Beyond Foundation, Navigation #}

{# wird p überhaupt gebraucht? #}
{#
{% set p = craft.request|first %}
#}

{% if craft.app.language == 'en' %}
  {% set en = true %}
{% else %}
  {% set en = false %}
{% endif %}

<ul>

	<li class="{{ slug == 'about' ? 'active' : '' }}">
    <a title="{{ 'Über uns'|t }}" href="{{ en ? '/en' : '' }}/about">{{ 'Über uns'|t }}</a>
  </li>

	<li class="{{ slug == 'team' ? 'active' : '' }}">
    <a title="Team" href="{{ en ? '/en' : '' }}/team">Team</a>
  </li>

	<li class="{{ slug == 'music-network' ? 'active' : '' }}">
    <a title="{{ 'Musikplattform'|t }}" href="{{ en ? '/en' : '' }}/music-network">{{ 'Musikplattform'|t }}</a>
  </li>

	<li class="{{ slug == 'music-production' ? 'active' : '' }}">
    <a title="{{ 'Musikproduktionen'|t }}" href="{{ en ? '/en' : '' }}/music-production">{{ 'Musikproduktionen'|t }}</a>
  </li>

	<li class="{{ slug == 'projects' ? 'active' : '' }}">
    <a title="{{ 'Förderprojekte'|t }}" href="{{ en ? '/en' : '' }}/projects">{{ 'Förderprojekte'|t }}</a>
  </li>

	<li class="{{ slug == 'encouragement' ? 'active' : '' }}">
    <a title="{{ 'Gesuche/Spenden'|t }}" href="{{ en ? '/en' : '' }}/encouragement">{{ 'Gesuche/Spenden'|t }}</a>
  </li>

</ul>

{% include 'includes/language-switcher' %}

<section id="nav-overlay-footer">
  <ul class="share-icons">
    <li><a href="https://www.facebook.com/Beyond/" target="_blank"><img src="/assets/_pic/footer-icons/fb-icon.svg" alt=""></a></li>
    <li><a href="https://www.instagram.com/beyondmusic/" target="_blank"><img src="/assets/_pic/footer-icons/insta-icon.svg" alt=""></a></li>
    <li><a href="https://www.youtube.com/user/beyondsingingcom" target="_blank"><img src="/assets/_pic/footer-icons/yt-icon.svg" alt=""></a></li>
  </ul>

  {% include 'includes/infos' %}

</section>
