{# Beyond Foundation, Navigation #}

{# wird p überhaupt gebraucht? #}
{#
{% set p = craft.request|first %}
#}

{% if craft.app.language == 'en' %}
  {% set en = true %}
{% else %}
  {% set en = false %}
{% endif %}

<ul>
	{# TODO: wie muss das aussehen für de/en? #}
	<li class="{{ slug == 'about' ? 'active' : '' }}"><a title="About" href="{{ en ? '/en' : '' }}/about">About</a></li>
	<li class="{{ slug == 'music-network' ? 'active' : '' }}"><a title="Music Network" href="{{ en ? '/en' : '' }}/music-network">Music Network</a></li>
	<li class="{{ slug == 'music-production' ? 'active' : '' }}"><a title="Music Production" href="{{ en ? '/en' : '' }}/music-production">Music Production</a></li>
	<li class="{{ slug == 'projects' ? 'active' : '' }}"><a title="Projects" href="{{ en ? '/en' : '' }}/projects">Funding Projects</a></li>
	<li class="{{ slug == 'encouragement' ? 'active' : '' }}"><a title="Encouragement" href="{{ en ? '/en' : '' }}/encouragement">Encouragement</a></li>
</ul>

{% include 'includes/language-switcher' %}
