{# Beyond Foundation, Encouragement #}

{% extends "_layout" %}

{% set entry = craft.entries().section('encouragement').one() %}

{% block content %}

    <header>
      {% include 'includes/header' %}
    </header>

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <main>
      <h2>{{ entry.pageHeading }}</h2>
      <h3>{{ entry.leadTitle }}</h3>
      {{ entry.lead }}
    </main>
        
    <footer>
      {% include 'includes/footer' %}
    </footer>

    <script>
      console.log('I & I is at {{ slug }}' );
      console.log('This entry title is {{ entry.title }}' );
    </script>

{% endblock %}
