{# Beyond Foundation, Home #}

{% extends "_layout" %}

{% set entry = craft.entries().section('home').one() %}
{% set teasers = craft.entries().section('homeTeasers').all() %}

{% block content %}

  <a href="/about" id="slogan">
    <div class="carousel-cell">
      <h1 style="hyphens: manual;">{{ '<strong>Beyond</strong> right&nbsp;and&nbsp;wrong'|raw }}</h1>
    </div>
    <div class="carousel-cell">
      <h1 style="hyphens: manual;">{{ 'there&nbsp;is a&nbsp;field'|raw }}</h1>
    </div>
    <div class="carousel-cell">
      <h1 style="hyphens: manual;">{{ 'I&nbsp;meet you&nbsp;there.'|raw }}</h1>
    </div>
  </a>
   
    <div id="carousel">
    {% if entry.slideshowImages|length %}
      {% for slideshowImage in entry.slideshowImages %}
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/{{ slideshowImage.getUrl() }}" alt="">
      {% endfor %}
    {% else %}
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/assets/_pic/slideshow/test1.jpg" alt="">
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/assets/_pic/slideshow/test2.jpg" alt="">
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/assets/_pic/slideshow/test3.jpg" alt="">
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/assets/_pic/slideshow/test4.jpg" alt="">
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/assets/_pic/slideshow/test5.jpg" alt="">
    {% endif %}

    </div>

    <div id="mobile-carousel">
      {% if entry.slideshowImagesMobile|length %}
      {% for slideshowImageMobile in entry.slideshowImagesMobile %}
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/{{ slideshowImageMobile.getUrl() }}" alt="">
      {% endfor %}
    {% else %}
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/assets/_pic/slideshow/test1.jpg" alt="">
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/assets/_pic/slideshow/test2.jpg" alt="">
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/assets/_pic/slideshow/test3.jpg" alt="">
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/assets/_pic/slideshow/test4.jpg" alt="">
      <img class="carousel-cell" src="{{ alias('@assetBasePath') }}/assets/_pic/slideshow/test5.jpg" alt="">
    {% endif %}
    </div>

    <script src="{{ alias('@assetBasePath') }}/assets/js/flickity.js"></script>
    <script src="{{ alias('@assetBasePath') }}/assets/js/flickity-fade.js"></script>
    <script>
      console.log('I & I is at {{ slug }}, what' );

      // initialize slider aka. «carousel»
    
      window.addEventListener('DOMContentLoaded', (event) => {
        var carousel = document.querySelector('#carousel');
        var flkty = new Flickity(carousel, {
          // options
          fade: true,
          draggable: false,
          wrapAround: true,
          autoPlay: 7000,
          prevNextButtons: false,
          pageDots: false,
        });
        var mobileCarousel = document.querySelector('#mobile-carousel');
        var mobileFlkty = new Flickity(mobileCarousel, {
          // options
          fade: true,
          draggable: false,
          wrapAround: true,
          autoPlay: 7000,
          prevNextButtons: false,
          pageDots: false,
        });
        var sloganCarousel = document.querySelector('#slogan');
        var sloganFlkty = new Flickity(sloganCarousel, {
          // options
          fade: true,
          draggable: false,
          wrapAround: true,
          autoPlay: 4000,
          prevNextButtons: false,
          pageDots: false,
        });
      });
    </script>

{% endblock %}
