{# Beyond Foundation, Home #}

{% extends "_layout" %}

<main>
	{% block content %}

	{% set entry = craft.entries().section('home').first() %}
	<p>{{ entry.testtext }}</p>

	<h2>Test: Language Switcher</h2>
	{% set supportedSites = entry.getSupportedSites %}
	{% for siteForEntry in entry.getSupportedSites %}
	    {# get the site #}
	    {% set site = craft.app.getSites.getSiteById(siteForEntry.siteId) %}
	    {# check if it's the current site #}
	    {% if site.id == entry.siteId %}
		<p>active site = {{ site.id }} {{ site.language }}</p>
	    {% else %}
		{# if it's not the current site, get the entry for this site #}
		{% set entryForOtherSite = craft.entries.id(entry.id).site(site).one() %}
		<p>link to site with id {{ entryForOtherSite.siteId }} <a href="{{ entryForOtherSite.getUrl() }}">{{ site.language }} – {{ entryForOtherSite.title }}</a></p>
	    {% endif %}
	{% endfor %}

	{% endblock %}
</main>
