{# Beyond Foundation, Home #}

{% extends "_layout" %}

{% set entry = craft.entries().section('home').one() %}
{% set teasers = craft.entries().section('homeTeasers').all() %}

{% block content %}

    <!-- Start Header -->

    <header>
      {% include 'includes/header' %}
    </header>

    <!-- End Header -->

    <!-- Start Navigation -->

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <!-- End Navigation -->

    <!-- Start Main -->

    <main>

      <h2>{{ entry.pageHeading }}</h2>
      
      <section class="single-col">
        <h3>Beyond Foundation</h3>

        <div class="accordion" style="margin-top: 0;">
          <div class="visible">
            {{ entry.visibleText }}
            <p class="accordion-trigger"><span>{{ 'Weitere Informationen'|t }}</span></p>
          </div>
          <div class="collapsed">
            {{ entry.collapsedText }}
            <p class="accordion-collapse"><span>{{ 'Weniger Informationen'|t }}</span></p>
          </div>
        </div>
      </section>
      
{#
      <section class="single-col">
        <div class="full-width" style="height: 585px; background: papayawhip;"></div>
        <p class="video-caption full-width"><strong>Foo bar baz</strong> Et consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
      </section>
#}
      {% for teaser in teasers %}

        {% if loop.index == 4 %}
          {% if entry.quote|length %}
          <blockquote>
            <p>{{ craft.app.language == 'de' ? '«' : '“' }}{{ entry.quote }}{{ craft.app.language == 'de' ? '»' : '”' }}</p>
          </blockquote>
          {% endif %}
        {% endif %}
      
      {# assozierten Eintrag definieren #}
      {% set associatedEntry = teaser.associatedEntry.one() %}

      {% if loop.index == 1 %}
      <section class="single-col">
          <a class="full-width;" href="{{ associatedEntry.getUrl() }}" style="margin: 0; padding: 0; grid-column: 1/-1; border: none; outline: 0">
          {% if teaser.teaserImage|length %}
            <img style="width: 100%;" class="full-width" src="{{ alias('@assetBasePath') }}/{{ teaser.teaserImage[0].getUrl('sixteen2nine') }}" alt="{{ teaser.title }}">
          {% else %}
            <img class="full-width" src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="{{ teaser.title }}, test image">
          {% endif %}
          </a>

        <p class="video-caption full-width"><a href="{{ associatedEntry.getUrl() }}" style="border: none; outline: 0"><strong>{{ associatedEntry.title }}</strong> {{ teaser.shortDescription }}</a></p>
      </section>

      {% else %}

      <section class="alternating-grid-image-large">
        <div class="image-cell">
          <a href="{{ associatedEntry.getUrl() }}" style="border: none; outline: 0">
          {% if teaser.teaserImage|length %}
            <img src="{{ alias('@assetBasePath') }}/{{ teaser.teaserImage[0].getUrl('sixteen2nine') }}" alt="{{ teaser.title }}">
          {% else %}
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="{{ teaser.title }}, test image">
          {% endif %}
          </a>
        </div>

        <h3 class="text-column"><a href="{{ associatedEntry.getUrl() }}" style="border: none; outline: 0">{{ associatedEntry.title }}</a></h3>
        <p class="text-column"><a href="{{ associatedEntry.getUrl() }}" style="border: none; outline: 0">{{ teaser.shortDescription }}</a></p>
      </section>

      {% endif %}

      {% endfor %}

    </main>
        
    <!-- End Main -->

    <!-- Start Footer -->

    <footer>
      {% include 'includes/footer' %}
    </footer>

    <!-- End Footer -->

    {% include 'includes/accordion-scripts' %}

    <script>
      console.log('I & I is at {{ slug }}' );
    </script>

{% endblock %}
