{# Beyond Foundation, Home #}

{% extends "_layout" %}

{% set entry = craft.entries().section('home').one() %}

{% block content %}

    <!-- Start Header -->

    <header>
      {% include 'includes/header' %}
    </header>

    <!-- End Header -->

    <!-- Start Navigation -->

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <!-- End Navigation -->

    <!-- Start Main -->

    <main>

      <h2>{{ entry.title }}</h2>
      
      <section class="single-col">
        <h3>Beyond Foundation</h3>
        <div class="accordion" style="margin-top: 0;">
          <div class="visible">
            <p>Elit accusamus possimus explicabo officiis rem! Vel nam assumenda maxime cum nobis laboriosam laborum? Cupiditate esse autem magni unde quidem Adipisci laboriosam quidem tempore sed fuga in. Omnis praesentium alias.</p>
            <p class="accordion-trigger"><span>Weitere Informationen</span></p>
          </div>
          <div class="collapsed">
            <p>Amet expedita neque natus excepturi vitae. Labore eligendi consectetur quidem in odio perferendis Doloremque aspernatur numquam fugit magni velit animi? Soluta magni excepturi beatae reprehenderit provident ea sed Architecto impedit quo corporis laborum suscipit Nostrum exercitationem ad repellendus itaque non tenetur Explicabo eaque nam quas voluptatibus harum. Exercitationem fugit facilis.</p>
            <p>Amet iusto aliquam odit ex fugiat quidem. Expedita debitis cumque nesciunt quisquam totam sunt id Ullam aliquid veritatis odio maiores ut Voluptate aliquam maiores porro iste sunt Explicabo quae velit vel similique quas Aspernatur doloribus culpa commodi provident quaerat, modi deleniti? Laudantium totam eius provident provident ullam suscipit? Temporibus nesciunt</p>
            <p class="accordion-collapse"><span>Weniger Informationen</span></p>
          </div>
        </div>
      </section>
      
      <section class="single-col">
        <div class="full-width" style="margin-bottom: 10px; width: 100%; height: 585px; background: papayawhip;"></div>
        <p class="video-caption full-width"><strong>Foo bar baz</strong> Et consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
      </section>

      <section class="alternating-grid-image-large">
        <div class="image-cell">
          <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="">
        </div>

        <div class="text-cell">
          <h3>lorem ipsum</h3>
          <p>Amet illum veniam reiciendis incidunt tempora Impedit pariatur magni veritatis animi nesciunt.</p>
        </div>
      </section>

      <section class="alternating-grid-image-large">
        <div class="image-cell">
          <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="">
        </div>

        <div class="text-cell">
          <h3>Amet nobis?</h3>
          <p>Amet harum suscipit maiores distinctio perspiciatis? Ad quia qui reprehenderit provident illo?</p>
        </div>
      </section>

      <section class="alternating-grid-image-large">
        <div class="image-cell">
          <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="">
        </div>

        <div class="text-cell">
          <h3>Dolor tempora.</h3>
          <p>Dolor quam quam incidunt modi dolores? Quasi facere quia laboriosam adipisci mollitia. Fuga aliquam optio officiis dolores inventore! Error corporis?</p>
        </div>
      </section>

      <section>
        <blockquote>
          <p>{{ craft.app.language == 'de' ? '«' : '“' }}Create music out of the core of being human.{{ craft.app.language == 'de' ? '»' : '”' }}</p>
        </blockquote>
      </section>


      <section class="alternating-grid-image-large">
        <div class="image-cell">
          <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="">
        </div>

        <div class="text-cell">
          <h3>lorem ipsum</h3>
          <p>Amet illum veniam reiciendis incidunt tempora Impedit pariatur magni veritatis animi nesciunt.</p>
        </div>
      </section>

      <section class="alternating-grid-image-large">
        <div class="image-cell">
          <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="">
        </div>

        <div class="text-cell">
          <h3>Amet nobis?</h3>
          <p>Amet harum suscipit maiores distinctio perspiciatis? Ad quia qui reprehenderit provident illo?</p>
        </div>
      </section>

      <section class="alternating-grid-image-large">
        <div class="image-cell">
          <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="">
        </div>

        <div class="text-cell">
          <h3>lorem ipsum</h3>
          <p>Amet illum veniam reiciendis incidunt tempora Impedit pariatur magni veritatis animi nesciunt.</p>
        </div>
      </section>

      <section class="alternating-grid-image-large">
        <div class="image-cell">
          <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="">
        </div>

        <div class="text-cell">
          <h3>Amet nobis?</h3>
          <p>Amet harum suscipit maiores distinctio perspiciatis? Ad quia qui reprehenderit provident illo?</p>
        </div>
      </section>
    </main>
        
    <!-- End Main -->

    <!-- Start Footer -->

    <footer>
      {% include 'includes/footer' %}
    </footer>

    <!-- End Footer -->

    {% include 'includes/accordion-scripts' %}

    <script>
      console.log('I & I is at {{ slug }}' );
    </script>

{% endblock %}
