{# Beyond Foundation, Events #}

{% extends "_layout" %}

{% set entry = craft.entries().section('events').one() %}
{% set events = craft.entries().section('eventsEntries').all() %}

{% block content %}

    <header>
      {% include 'includes/header' %}
    </header>

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <main>
      <h2>{{ entry.pageHeading }}</h2>

      {# gibt hier nicht …
      <h3>{{ entry.leadTitle }}</h3>
      {{ entry.lead }}
      … #}

      {% for event in events %}
        <section class="alternating-grid-image-large">
  
          <div class="image-cell">
            <img src="{{ alias('@assetBasePath') }}/assets/_pic/placeholder_16-9.png" alt="">
          </div>

          <div class="text-cell">
            <h3>{{ event.title }}</h3>
            <p>Fixed Text in Template</p>
            <p class="teaser-link external-link"><a href="" target="_new" title="">Fixed Link in Template</a></p>
          </div>

        </section>
      {% endfor %}

      {% if entry.quote|length %}
      <blockquote>
        <p>{{ craft.app.language == 'de' ? '«' : '“' }}{{ entry.quote }}{{ craft.app.language == 'de' ? '»' : '”' }}</p>
      </blockquote>
      {% endif %}

    </main>
        
    <footer>
      {% include 'includes/footer' %}
    </footer>

    <script>
      console.log('I & I is at {{ slug }}' );
    </script>

{% endblock %}
